@using ResturantManagementSystem.ViewModels

@section Title {
Ingedients
}
@section SubTitle {
Show
}

@model (int page,int limit,int count,List<IngredientVM> ingredients)

<section class="overflow-auto">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ingredient ID</th>
                <th scope="col">Ingredient Name</th>
                <th scope="col">Ingredient Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        @if (Model.ingredients.Count == 0)
        {
            <tbody>
                <tr class="bg-warning text-black fw-bold ">
                    <td colspan="4" class="rounded-2">
                        No data found
                    </td>
                </tr>
            </tbody>
        }
        else
        {
            <tbody>
                @foreach (var ingredient in Model.ingredients)
                {
                    <tr>
                        <td>
                            @ingredient.Id
                        </td>

                        <td>
                            @ingredient.Name
                        </td>
                        <td>
                            @ingredient.Description
                        </td>
                        <td>
                            <div class="d-flex flex-column gap-1">
                                <a asp-controller="Ingredients" asp-action="Update" asp-route-Id="@ingredient.Id" class="btn-warning rounded-2 px-2 py-1 ms-1 text-decoration-none">
									Edit
								</a>
                                <a data-id="@ingredient.Id" class="btn-danger rounded-2 px-2 py-1 ms-1 text-decoration-none js-deleteBtn">
                                    Delete
                                </a>
                                
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
    <a asp-controller="Ingredients" asp-action="Create" class="btn btn-primary">
        Create
    </a>
</section>
<div>
    Page @Model.page of @((int)Math.Ceiling(Model.count / (double)Model.limit))

    @if (Model.page > 1)
    {
        @Html.ActionLink("Previous", "Index", new { page = Model.page - 1, limit = 9 })
    }

    @if (Model.page < (int)Math.Ceiling(Model.count / (double)Model.limit))
    {
        @Html.ActionLink("Next", "Index", new { page = Model.page + 1, limit = 9 })
    }
</div>

@section Scripts {
    <script>
        const deleteBtns = document.querySelectorAll(".js-deleteBtn");
        deleteBtns.forEach((btn) => {
            btn.addEventListener("click", () => {
                console.log("clicked")
                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#de0a26",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then(async (result) => {

                    if (result.isConfirmed) {
                        const Id = btn.dataset.id;
                        const response = await fetch(`/Ingredients/Delete/${Id}`, {
                            method: "DELETE"
                        })

                        if (response.ok) {
                            btn.closest("tr").remove();
                            const Toast = Swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 1500,
                                timerProgressBar: true,
                            })

                            Toast.fire({
                                icon: "success",
                                title: "Ingredient was deleted successfully"
                            })
                        }else{
                            console.log(await response.json())
                        }
                    }
                });
            })
        })
    </script>
}